.card {
	padding: 1rem;
	background-color: yellow;
	margin: 0 2rem 1rem;
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 50%;
}
.card ul {
	list-style: none;
}
.card ul li {
	text-align: justify;
}
.card span .icon {
	font-size: large;
	margin-left: 0.5rem;
}
@media screen and (max-width: 700px) {
	.card {
		width: 70% !important;
	}
}
@media screen and (max-width: 400px) {
	.card {
		width: 90% !important;
	}
}
