.card {
	padding: 1rem;
	background-color: yellow;
	margin: 2rem;
	justify-content: space-between;
	display: flex;
}
.card ul {
	list-style: none;
}
.card ul li {
	text-align: justify;
}
.card span .icon {
	font-size: large;
	margin-left: 0.5rem;
}
